main {
    z-index: -1;
    display: block;
    position: absolute;
    width: 100vw;
    left: 0;
    right: 0;
}

.rank_rapper_pa {
    display: flex;
    width: 95vw;
    height: 240px;
    overflow-x: scroll;
    margin: 10px 10px 0px 10px;
}

.rank_rapper_pa div {
    margin: 5px;
    flex-shrink: 0;
}

#Diamond_tag {
    color: rgb(54, 150, 179);
}

.video_rapper_pa {
    display: flex;
    width: 94.5vw;
    overflow-x: scroll;
    margin: 10px 10px 0px 10px;
}

.video_rapper_pa div {
    width: 40%;
    margin: 5px;
    flex-shrink: 0;
}

.mini_icon {
    position: relative;
    left: 40px;
    bottom: 30px;
    width: 13vw;
}

.video_home {
    width: 39vw;
    border-radius: 15px;
}

.nav_item {
    font-size: 25px;
    padding-bottom: 20px;
    text-align: left;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

a {
    color: #ffffff;
    text-decoration: none;
}

li.nav_item {
    list-style-type: none;
    border-bottom: 1px solid #ffffff;
    padding: 1px;
    margin-bottom: 20px;
    width: 75vw;
}

#movie_hist {
    margin-top: 40px;
}
