body {
    margin: 0;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
}

.tag_text {
    border: solid 0.2px rgba(0, 0, 0, .5);
    border-radius: 15px;
    padding: 5px 10px;
    display: inline-block;
    margin: 0px 0px 0px 10px;
    font-size: 11px;
}

.rank_rapper>p {
    text-align: center;
}

.rank_name_rapper {
    font-size: 20px;
    margin:0;
}

.rank_point_rapper {
    font-size: 18px;
    margin:0;
}

.bottom_space{
    height: 140px;
}