.wrapper {
    position: relative;
    overflow-x: hidden;
    max-width: 100vw;
}

.video-btn {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 40px;
    /*コントローラー分下部に余白を*/
    cursor: pointer;
    z-index: 500;
}

#video01 {
    position: relative;
    height: 95vh;
    left: -500px;
}

#video02 {
    position: relative;
    height: 95vh;
    left: -500px;
}